In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, log_loss
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
import pandas as pd

df = pd.read_csv('data_D.csv')
df.head()

,Unnamed: 0,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,churn
0,0,106473,15639576,Sarratt,652.0,France,Female,65.0,3,0.00,2,1,1,136592.24,0
1,1,62345,15769582,Hanson,464.0,France,Male,35.0,4,0.00,1,0,0,99505.75,1
2,2,126615,15675888,Austin,620.0,Germany,Female,39.0,6,129401.87,2,1,1,102681.32,1
3,3,35909,15786617,Tuan,598.0,France,Female,30.0,7,0.00,2,1,0,141210.18,0
4,4,45175,15757310,Li Fonti,682.0,Germany,Female,46.0,4,107720.57,1,0,0,93832.33,1

In [3]:
print(df.shape)

(41259, 15)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41259 entries, 0 to 41258
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       41259 non-null  int64
 1   id               41259 non-null  int64
 2   CustomerId       41259 non-null  int64
 3   Surname          41259 non-null  object
 4   CreditScore      41251 non-null  float64
 5   Geography        41259 non-null  object
 6   Gender           41259 non-null  object
 7   Age              41259 non-null  float64
 8   Tenure           41259 non-null  int64
 9   Balance          41259 non-null  float64
 10  NumOfProducts    41259 non-null  int64
 11  HasCrCard        41259 non-null  int64
 12  IsActiveMember   41259 non-null  int64
 13  EstimatedSalary  41259 non-null  float64
 14  churn            41259 non-null  int64
dtypes: float64(4), int64(8), object(3)
memory usage: 4.7+ MB
None

In [5]:
df = df.drop(['id', 'CustomerId', 'Surname', 'Unnamed: 0'], axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,churn
0,652.0,France,Female,65.0,3,0.00,2,1,1,136592.24,0
1,464.0,France,Male,35.0,4,0.00,1,0,0,99505.75,1
2,620.0,Germany,Female,39.0,6,129401.87,2,1,1,102681.32,1
3,598.0,France,Female,30.0,7,0.00,2,1,0,141210.18,0
4,682.0,Germany,Female,46.0,4,107720.57,1,0,0,93832.33,1
...,...,...,...,...,...,...,...,...,...,...,...
41254,567.0,France,Female,37.0,1,121801.49,1,0,0,177028.00,0
41255,584.0,Germany,Female,31.0,4,152622.34,1,1,0,99298.80,0
41256,684.0,France,Male,36.0,4,0.00,1,1,0,152992.04,0
41257,709.0,France,Male,38.0,3,0.00,2,1,1,185580.23,0
41258,850.0,France,Male,43.0,2,0.00,2,1,1,93882.93,0

# Splitting data

In [6]:
df_input = df.drop('churn', axis=1)
df_output = df[['churn']]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_input, df_output, test_size = 0.2, random_state = 42)

In [8]:
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

Missing values per column:
CreditScore        8
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
churn              0
dtype: int64

In [9]:
import statistics
statistics.mode(x_train['CreditScore'])

850.0

# Preprocessing train data

In [10]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33007 entries, 23629 to 15795
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      33000 non-null  float64
 1   Geography        33007 non-null  object
 2   Gender           33007 non-null  object
 3   Age              33007 non-null  float64
 4   Tenure           33007 non-null  int64
 5   Balance          33007 non-null  float64
 6   NumOfProducts    33007 non-null  int64
 7   HasCrCard        33007 non-null  int64
 8   IsActiveMember   33007 non-null  int64
 9   EstimatedSalary  33007 non-null  float64
dtypes: float64(4), int64(4), object(2)
memory usage: 2.8+ MB

In [11]:
np.mean(x_train['CreditScore'])

656.3421212121212

In [12]:
#Replace Null numeric value with their Mean for train data
x_train['CreditScore'].fillna(656.3, inplace=True)

In [13]:
df_encode = {"Gender" : {"Male" : 1, "Female" : 0}, "Geography" : {"France":1, "Germany":2, "Spain":3}}
x_train = x_train.replace(df_encode)

In [14]:
x_train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
23629,708.0,1,0,45.0,2,0.0,1,1,0,182076.97
6996,676.0,3,1,35.0,7,0.0,2,1,0,166053.92
26510,645.0,1,0,36.0,4,133980.8,1,1,1,112333.63
40020,791.0,3,1,37.0,1,0.0,2,1,0,132973.17
17668,637.0,1,0,48.0,7,0.0,2,1,1,146573.66

# Preprocessing testing data

In [15]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8252 entries, 37555 to 28662
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      8251 non-null   float64
 1   Geography        8252 non-null   object
 2   Gender           8252 non-null   object
 3   Age              8252 non-null   float64
 4   Tenure           8252 non-null   int64
 5   Balance          8252 non-null   float64
 6   NumOfProducts    8252 non-null   int64
 7   HasCrCard        8252 non-null   int64
 8   IsActiveMember   8252 non-null   int64
 9   EstimatedSalary  8252 non-null   float64
dtypes: float64(4), int64(4), object(2)
memory usage: 709.2+ KB

In [16]:
np.mean(x_test['CreditScore'])

656.0252090655678

In [17]:
#Replace Null numeric value with their Mean for test data
x_test['CreditScore'].fillna(656.0, inplace=True)

In [18]:
df_encode = {"Gender" : {"Male" : 1, "Female" : 0}, "Geography" : {"France":0, "Germany":1, "Spain":2}}
x_test = x_test.replace(df_encode)

In [19]:
x_test.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
37555,680.0,2,0,32.0,2,0.00,2,0,1,38614.69
4280,605.0,0,1,32.0,3,0.00,2,1,0,138051.19
36838,826.0,1,0,39.0,8,113905.48,2,0,1,174043.40
39035,697.0,2,1,44.0,3,0.00,1,1,1,143357.07
22201,550.0,1,0,56.0,2,103391.38,1,1,0,90878.13

# XGBoost

In [20]:
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings('ignore')

XGBclass = XGBClassifier()
XGBclass.fit(x_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [21]:
y_predict=XGBclass.predict(x_test)

In [22]:
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report
print(f'Classification report : {metrics.accuracy_score(y_test, y_predict)}')
print(f'AUC = {metrics.roc_auc_score(y_test, y_predict)}')
print(classification_report(y_test, y_predict, target_names=['0', '1']))

Classification report : 0.8441589917595734
AUC = 0.7035889736870754
              precision    recall  f1-score   support

           0       0.87      0.95      0.91      6513
           1       0.70      0.46      0.55      1739

    accuracy                           0.84      8252
   macro avg       0.78      0.70      0.73      8252
weighted avg       0.83      0.84      0.83      8252

# Random forest

In [23]:
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')

RFclass = RandomForestClassifier(criterion= 'gini',max_depth=4)
RFclass.fit(x_train, y_train)

RandomForestClassifier(max_depth=4)

In [24]:
y_predict=RFclass.predict(x_test)

In [25]:
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report
print(f'Classification report : {metrics.accuracy_score(y_test, y_predict)}')
print(f'AUC = {metrics.roc_auc_score(y_test, y_predict)}')
print(classification_report(y_test, y_predict, target_names=['0', '1']))

Classification report : 0.8402811439650993
AUC = 0.6507626141974466
              precision    recall  f1-score   support

           0       0.84      0.98      0.91      6513
           1       0.80      0.32      0.46      1739

    accuracy                           0.84      8252
   macro avg       0.82      0.65      0.68      8252
weighted avg       0.83      0.84      0.81      8252

In [28]:
from sklearn.model_selection import GridSearchCV
parameters = {
    'criterion' : ['gini', 'entropy', 'log_loss'],
    'max_depth' : [2, 4, 6, 8]
}

RFclass = RandomForestClassifier()
RFclass = GridSearchCV(RFclass, param_grid=parameters, scoring = 'accuracy', cv = 5)

In [29]:
RFclass.fit(x_train, y_train)
print("Tuned hyperparameters :", RFclass.best_params_)

Tuned hyperparameters : {'criterion': 'gini', 'max_depth': 8}

In [30]:
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')

RFclass = RandomForestClassifier(criterion= 'gini',max_depth=8)
RFclass.fit(x_train, y_train)

RandomForestClassifier(max_depth=8)

In [31]:
y_predict=RFclass.predict(x_test)

In [33]:
import pickle as pkl
filename = 'RFclass.pkl'
pkl.dump(RFclass, open(filename, 'wb'))

In [34]:
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report
print(f'Classification report : {metrics.accuracy_score(y_test, y_predict)}')
print(f'AUC = {metrics.roc_auc_score(y_test, y_predict)}')
print(classification_report(y_test, y_predict, target_names=['0', '1']))

Classification report : 0.851672321861367
AUC = 0.6946498033260678
              precision    recall  f1-score   support

           0       0.86      0.97      0.91      6513
           1       0.77      0.42      0.55      1739

    accuracy                           0.85      8252
   macro avg       0.82      0.69      0.73      8252
weighted avg       0.84      0.85      0.83      8252

In [37]:
x_train.describe()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,33007.000000,33007.000000,33007.000000,33007.000000,33007.000000,33007.000000,33007.000000,33007.000000,33007.000000,33007.000000
mean,656.342112,1.646832,0.560730,38.057654,4.998909,55736.297630,1.554276,0.753658,0.495622,112222.522280
std,80.051595,0.816054,0.496306,8.792344,2.797309,62869.964295,0.546302,0.430886,0.499988,50463.153622
min,350.000000,1.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000
25%,597.000000,1.000000,0.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74415.220000
50%,659.000000,1.000000,1.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117036.460000
75%,710.000000,2.000000,1.000000,42.000000,7.000000,120467.045000,2.000000,1.000000,1.000000,154775.700000
max,850.000000,3.000000,1.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000